block nav
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .nav-collapse.collapse
          ul.nav
            li.active
              a(href="/main/dashboard") Stats
            li
              a(href="/box") Box
            li
              a(href="/main/wod") WOD
              