mixin nav(current)
  .main-nav
    .container
      for link, label in menu
        a.btn.btn-primary(href=link, class = current.toLowerCase() === label.toLowerCase() ? 'btn-info active' : '' )
          //- if(label === 'log')
          //-   i.icon-pencil
          //- else if(label === 'stats')
          //-   i.icon-book
          |  !{label}
      a.btn.btn-primary(href="/logout") logout