mixin nav(current)
  .container
    .row-fluid
      ul.main-nav.pull-right
        for link, label in menu
          li(class = (current === label) ? 'active' : null)
            a.btn.btn-primary(href=link) !{label}
        li
          a.btn.btn-primary(href="/logout") logout
              