mixin nav(current)
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .nav-collapse.collapse
          ul.nav
            for link, label in menu
              li(class = (current === label) ? 'active' : null)
                a(href=link) !{label}
            li
              a.pull-right(href="/logout") logout
              