mixin nav(current)
  .main-nav.shadow
  .header-container
    header.wrapper.clearfix
      nav#topnav
        ul
          for link, label in menu
            li
              a.btn(href=link, class = current.toLowerCase() === label.toLowerCase() ? 'active' : '' )
                if(label.toLowerCase() === 'stats') 
                  i.icon.icon-tasks
                else(label.toLowerCase() === 'log') 
                  i.icon.icon-time
                |  !{label}
          li
            a.btn(href="/logout") logout