mixin nav(current)
  .container
    .row-fluid
      ul.main-nav.pull-right
        for link, label in menu
          li(class = (current === label) ? 'active' : null)
            a(href=link) !{label}
        li
          a(href="/logout") logout
              