include layout
block blody
  .container
    h1 WOD ReMIX
    .row-fluid
      .span12
        form
          label Username
          input.input-block-level(type="text")
          label Password
          input.input-block-level(type="password")
          a.btn.btn-primary.btn-block(href="/main/dashboard") Login
        