//- include the layout
include layout
//- include the nav mixin
include includes/nav
//- include the workout list item partial
include workout/partials/pr-list

block blody
  .main.wrapper.clearfix
    article
      header
        h1 Welcome
      section.clearfix
        p To sign up, pick a username and password.
        if(locals.error)
          div.alert.alert-danger !{error}
        form.login(method="post", enctype="application/x-www-form-urlencoded")
          label Username
          div
            input(type="text", name="username")
          label Password
          div
            input(type="password", name="password")
          label Password (again)
          div
            input(type="password", name="password-again")
          br
          input.btn.btn-primary.btn-block(type="submit", value="Sign up!")