<!DOCTYPE html>
html
  head
    title WOD ReMix
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    //- hack to prevent letterboxing on iphone 5
    meta(name="viewport", content="width=320.1")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="format-detection", content="telephone=no")
    link(href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="/styles/main.css")
    script(type="application/javascript", src="/js/modernizr-2.6.2.min.js")
    script(type="application/javascript", src="/js/templates.js")
    script(type="application/javascript", src="/js/common.js")
    script
      require('./assets/js/init')
  body
    block body
    include includes/analytics.html
