<!DOCTYPE html>
html
  head
    title WOD ReMix
    meta(name="viewport",content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet", href="/styles/main.css")
    script(type="application/javascript", src="/js/bin/common.js")
    script
      require('./assets/js/init.js')
    script(type="application/javascript", src="/js/templates.js")
  body
    block body
