<!DOCTYPE html>
html
  head
    title WOD ReMix
    meta(name="viewport",content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet", href="/styles/main.css")
  body
    block body
