include layout
block blody
  .container
    h1 WOD ReMIX
    .row-fluid
      .span12
        form(method="post", action="/login", enctype="application/x-www-form-urlencoded")
          label Username
          input.input-block-level(type="text", name="username")
          label Password
          input.input-block-level(type="password", name="password")
          input.btn.btn-primary.btn-block(type="submit", value="Login")
        label build by 
          a(href="http://twitter.com/vicapow") @vicapow