//- include the nav mixin
include includes/nav
//- include the layout
extends layout
block body
  .main-container
    .main.wrapper.clearfix
      h2.not-supported Apologies, but WOD ReMix is currently only supported on mobile devices.
      p Just go to 
        i wodremix.com 
        | from your iPhone or Android device