//- include the nav mixin
include includes/nav
//- include the layout
extends layout
block body
  .main-container
    .main.wrapper.clearfix
      .not-supported 
        article
          h1 WOD ReMix is currently only supported on mobile devices
          section
            p Just go to 
              i wodremix.com 
              | from your iPhone (Android support coming soon)
        img.not-supported(src="/img/preview1.png")