//- include the layout
include layout
//- include the nav mixin
include includes/nav

block body
  .container.page-container
    .row-fluid
      .span12
        h2.not-supported Apologies, but WOD ReMix is currently only supported on mobile devices.
        p Just go to 
          i wodremix.com 
          | from your iPhone or Android device