.open-metric
  .select.btn.clickable
    .right-icon-container
      i.icon-sort
    .select-container
      select.movement(name="movement")
  .clear
  .metrics
    .metrics-container
    .buttons
      .button-container
        button.btn-remove.btn.btn-danger.btn-block.pull-left remove 
      .button-container
        button.btn-done.btn.btn-primary.pull-right.btn-block.pull-right done
  .clear