include ../layout
include ../includes/nav
block blody
  script(type="application/javascript", src="/js/bin/pages/wod.js")
  block nav
  .container.page-container
    .row-fluid
      p.pull-right Tuesday 3 . 19 . 2013
      .clear