h2 !{title}
label(for="type") type
select(name="type", class="type")
  for type, key in wodtypes
    option(value=key) !{type.label}
label(for="date") date
select(name="date", class="date")
  option(value="today") Today
  option(value="yesterday") Yesterday
  option(value="idk") I don't remember
.metric-container

br
br
table.table.table-bordered.table-striped.table-condensed.movements
  tbody
a.btn.btn-primary.pull-right.add-movement
  i.icon-plus  add a movement
.clear

.results-container
br
button.btn.btn-primary.submit submit
a.btn.btn-info.cancel(href="/") cancel
br
br