h2 !{title}
label(for="type") type
select(name="type", class="type")
  for type, key in wodtypes
    option(value=key) !{type.label}
.metric-container

br
br
table.table.table-bordered.table-striped.table-condensed.movements
  tbody
a.btn.btn-primary.pull-right.add-movement
  i.icon-plus  add a movement
.clear

.results-container
  //- include results/rounds
  //- include results/timed
  //- include results/weight
a.btn.btn-primary submit
br
br