h2 !{title}
br
label(for="type") workout type
select.type.btn(name="type")
  for type, key in wodtypes
    option(value=key) !{type.label}
br

label(for="date") date
select.date.btn(name="date")
  option(value="today") Today
  option(value="yesterday") Yesterday
  option(value="idk") I don't remember
br
.metric-container

br
br
table.table.table-bordered.table-striped.movements
  tbody
a.btn.btn-primary.pull-right.add-movement add a movement
.clear

.results-container
br
button.btn.btn-primary.submit submit
a.btn.btn-info.cancel cancel
br
br