h2 !{title}
label(for="type") Type
select(name="type", class="type")
  for type, key in wodtypes
    option(value=key) !{type.label}
.rounds-control
  label(for="rounds") rounds
  input.input-mini(name="rounds", type="number", min="1", max="99", value="1")
br
br
table.table.table-bordered.table-striped.table-condensed
  tbody
a.btn.btn-primary.pull-right.add-movement
  i.icon-plus  add a movement
.clear
a.btn.btn-primary submit
br
br