article
  header
    h1 Log A Workout
  section
    br
    label(for="type") workout type
    .select.btn
      i.icon-sort.pull-right
      .select-container
        select.type(name="type")
          for type, key in wodtypes
            option(value=key) !{type.label}
    br

    label(for="date") date
    .select.btn
      i.icon-sort.pull-right
      .select-container
        select.date(name="date")
          option(value="today") Today
          option(value="yesterday") Yesterday
          option(value="idk") I don't remember
    br
    .metric-container
    br
    br
    label movements
    .movements
    br
    a.btn.btn-primary.add-movement 
      i.icon.icon-plus 
      |  add a movement 

article
  header
    h1 Record Results
  .results-container
  section
    br
    button.btn.btn-primary.pull-right.submit submit
    a.btn.btn-info.pull-right.cancel cancel
    .clear
    br