include ../layout
block body
  include ../includes/nav
  mixin nav('log')
  script(type="text/javascript")
    var WorkoutEditor = require('./assets/js/views/workout/editor')
    $(function(){
      var editor = new WorkoutEditor()
      $('.main-container .main .workout-editor-container').append(editor.$el)
    })
  .main-container
    .main.wrapper.clearfix
      .workout-editor-container
