mixin duration(minutes, seconds)
  .duration
    .select.btn.clickable
      .right-icon-container
        i.icon-sort
      .select-container
        select(name="minutes")
          for num in _.range(0, 60)
            option(value=num, selected = (minutes === num)) !{num} minutes
    .clear
    .select.btn.clickable.remove-border-top
      .right-icon-container
        i.icon-sort
      .select-container
        select(name="seconds")
          for num in _.range(0, 60)
            option(value=num, selected = (seconds === num))!{num} seconds