mixin duration(minutes, seconds)
  .duration
    select.btn.btn-primary(name="minutes")
      for num in _.range(0, 60)
        option(value=num, selected = (minutes === num)) !{num} minutes
    .clear
    select.btn.btn-primary.no-border-top(name="seconds")
      for num in _.range(0, 60)
        option(value=num, selected = (seconds === num))!{num} seconds