include task
mixin pr-list(records)
  table.table.table-bordered.table-striped
    tbody
      for record in records
        - record = record.value
        tr
          td
            a(href="/wod/pr/" + record.name.replace(/ /g, '-'))
              mixin task(record)