mixin metricBadge(metric, pullRight)
  span.label.label-info(class = pullRight ? 'pull-right' : 'pull-left')
    !{metric.value} !{unitAbbr(metric.units)}

mixin task(task)
  - var names = Object.keys(task.metrics)
  - metricNames = []
  for name in names
    if task.metrics[name].value
      - metricNames.push(name)
  if(task.metrics.reps && task.metrics.reps.value)
    mixin metricBadge(task.metrics['reps'])
    - metricNames.splice(metricNames.indexOf('reps'),1)
  else if(metricNames.length)
    mixin metricBadge(task.metrics[metricNames.shift()])
  span(style="margin-left:4px")
    !{task.label}
  for name in metricNames
    mixin metricBadge(task.metrics[name], true)
  //if workout.date
  .clear
  if(task.date)
    span.muted.pull-right
      i.icon.icon-calendar  !{moment(task.date).fromNow()}
    .clear