include ./workout-list-item
mixin workout-list(workouts)
  table.table.table-bordered.table-striped
    tbody
      for workout in workouts
        tr
          td
            mixin workout-list-item(workout)