include ./workout-list-item
mixin workout-list(workouts)
  table.table.table-striped
    tbody
      for workout in workouts
        tr
          td
            a(href="/wod/" + workout.hash)
              div
                mixin workout-list-item(workout)