@import "normalize.less";
@import "font-awesome.min.less";

@colorDanger: #da4f49;

body {
  background: #666;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 46px;
  padding-bottom: 36px;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
div, a, p, header, article, section {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
}

select{
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background-color: initial;
  width: 100%;
  overflow: hidden;
  line-height: 41px;
}

table.table{
  width: 100%;
}

.select-container{
  overflow:hidden; 
  display: block;
}

.select.btn{
  padding: 0;
  i{
    font-size: 30px;
    line-height: 41px;
    margin-right: 4px;
  }
  select{
    margin-left: 12px;
  }
}

input{
  line-height: 32px;
  font-size: 18px;
  border-radius: 0;
  border: 1px solid #999;
}

.metric{
  input{
    width: 30px;
  }
}

a {
  text-decoration: none;
}

.buttons{
  clear: both;
  .button-container{
    width: 50%;
    float: left;
    .btn{
      width: 100%;
    }
  }
}

.workout-editor{
  table {
    tr {
      margin: 20px;
      td{
        span {
          line-height: 40px;
        }
      }
    }
    &.movements{
      box-shadow: 0px 0px 1px #000;
    }
  }
  .metrics {
    width: 100%;
    .metrics-container{
      .metric{
        width:50%;
        float:left;
      }
    }
  }
}

nav#topnav > ul {
  top: 0;
  border-bottom: #999 1px solid;
}

nav#bottomnav > ul {  
  bottom: 0;
  border-top: #bbb 1px solid;
}

nav > ul {
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  background: #dedede;
  box-shadow: inset 0 -5px 7px rgba(0, 0, 0, 0.05);
}

nav > ul > li {
  display: block;
  float: left;
  text-align: center;
  padding: 0;
  width: 33.333%;
}

nav#bottomnav > ul > li {
  width: 20%;
}

nav > ul > li > a {
  .btn;
}

.btn{
  text-decoration: none;
  display: block;
  padding: 0;
  line-height: 42px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  text-shadow: 0 1px 0px #fff;
  .btn-style;
  padding-left: 5px;
  padding-right: 5px;
  &.btn-danger {
    background-color: @colorDanger;
    background-image: none;
    text-shadow: 0 1px 0px #ff5b55;
  }
}

.btn-style{
  border: 1px solid #bbb;
  background-color: #dedede;
  background-image: -webkit-linear-gradient( #dedede, #d2d2d2);
  background-image: linear-gradient(to bottom, #dedede, #d2d2d2);
}

.clear {
  clear: both;
}

select.btn{
  border: 1px solid #999;
}


nav > ul > li:not(:last-child) > a {
  border-right: #bbb 1px solid;
}

nav > ul > li:not(:first-child) > a {
  border-left: #dedede 1px solid;
}

.footer-container {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

article {
  box-shadow:  0 5px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  background: #f2f2f2;
}

h1 {
  border-bottom: #ccc 1px solid;
  padding: 8px 9px 0px;
  margin: 0;
  color: #555;
  font-weight: 200;
  /*letter-spacing: 1px;*/
  text-transform: uppercase;
  font-size: 32px;
  color: #ddd;
  box-shadow: inset 0 -5px 7px rgba(0, 0, 0, 0.05);
  text-shadow: 0 1px 4px #444 ;
  background: #666;
  font-family: 'Titillium Web', sans-serif;
}

section {
  border-bottom: #ccc 1px solid;
  padding: 10px;
}

section:not(:first-child) {
  border-top: #fdfdfd 1px solid;
  padding: 10px;
}


h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  color: #444;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #666 ;
  font-size: 14px;
}

.pull-right{
  float: right;
}

section > .pull-right {
  padding: 0;
  color: #888;
  font-size: 14px;
}

.muted {

}