@import "../flatstrap/assets/less/bootstrap.less";
@import "../flatstrap/assets/less/responsive.less";
@import "dashboard.less";

@colorPrimary: #006dcc;
@colorSecondary: #ccc;
@infoText: @colorPrimary;
@navbarInverseBackground: #004685;
@navbarInverseBackgroundHighlight: @colorPrimary;
@navbarInverseBorder: none;

h1, h2, h3, h4, h5, h6{
  font-weight: 300;
}

.page-container{
  padding: 0px 0 80px;
}
@media (max-width: 979px){
  .page-container{
    padding: 0px 0 0px;
  }
}

ul.workout-list{
  > li{
    border: 1px solid #e5e5e5;
    padding: 8px 14px;
    margin: 0 0 -1px;
  }
}

.clear{
  clear: both;
}

.main-nav{
  margin-top: 20px;
  list-style: none;
  li{
    display: inline;
    margin: 10px;
  }
}

.workout-editor{
  table {
    tr {
      margin: 20px;
    }
  }
  .metrics {
    width: 100%;
    .metrics-container{
      .metric{
        width:50%;
        float:left;
      }
    }
  }
}

.buttons{
  clear: both;
  .button-container{
    width: 50%;
    float: left;
  }
}

table.results{
  .input-append{
    margin-bottom: 0;
  }
  td{
    span{
      margin-bottom: 25px;
      line-height: 30px;
      text-align: center;
    }
  }
}


@media (max-width: 767px) {
  body{
/*    padding-left: 10px;
    padding-right: 10px;*/
  }
}