//- include the layout
include ../layout
//- include the nav mixin
include ../includes/nav
//- include the workout list item partial
include ../workout/partials/workout-list
include ../workout/partials/pr-list
block body
  mixin nav('Stats')
  .container.page-container
    .row-fluid
      br
      //- #workout-days-graph
      //- script(type="text/javascript")
      //-   var svg = d3.select('#workout-days-graph')
      //-     .append('svg')
      //-       .attr('width', '100%')
      //-       .attr('height', '50px')
      //-   svg.append('line')
      //-     .style('stroke', 'gray')
      //-     .style('stroke-width', '1px')
      //-     .attr('x1', '0%')
      //-     .attr('shape-rendering', "crispEdges")
      //-     .attr('y1', 15)
      //-     .attr('x2', '100%')
      //-     .attr('y2', 15)
      //-   svg.selectAll('rect')
      //-     .data([0,1,2,3,4,5,6])
      //-     .enter()
      //-       .append('rect')
      //-         .style('fill', '#ee6768')
      //-         .style('stroke', 'gray')
      //-         .style('stroke-width', 1)
      //-         .attr('shape-rendering', "crispEdges")
      //-         .attr('width', 10)
      //-         .attr('height', 10)
      //-         .attr('x', function(d){ return ( ( ( d ) / 6 ) * 97 ) + '%' })
      //-         .attr('y', 10)
      h4 Recent Workouts
      if(workouts.length)
        mixin workout-list(workouts)
        a.pull-right.btn.btn-primary(href="/wod/list") all
      else
        p No workouts logged yet. click the 'log' link above to log a workout.
      br
      br
      h4 Recent PRs 
      if(records.length)
        mixin pr-list(records)
        .pull-right 
          a.btn.btn-primary(href="/wod/pr/list") all
      else
        p You haven't logged any workouts with PRs
      .clear
      br
      br