//- include the layout
include ../layout
//- include the nav mixin
include ../includes/nav
//- include the workout list item partial
include ../workout/partials/workout-list
include ../workout/partials/pr-list
block body
  mixin nav('Stats')
  .container.page-container
    .row-fluid
      h2 Stats 
      h3 Recently Logged Workouts
      mixin workout-list(workouts)
      a(href="/wod/list").pull-right.btn.btn-primary all
      br
      br
      h3 Recent PRs 
      mixin pr-list(records)
      .pull-right 
        a.btn.btn-primary
          i.icon-plus
        a.btn.btn-primary(href="/wod/pr/list") all
      .clear
      br
      br