//- include the layout
include ../layout
//- include the nav mixin
include ../includes/nav
//- include the workout list item partial
include ../workout/partials/workout-list
include ../workout/partials/pr-list
block body
  mixin nav('Stats')
  .container.page-container
    .row-fluid
      h2 Stats 
      h4 Recent Workouts
      if(workouts.length)
        mixin workout-list(workouts)
        a.pull-right.btn.btn-primary(href="/wod/list") all
      else
        p No workouts logged yet. click the 'log' link above to log a workout.
      br
      br
      h4 Recent PRs 
      if(records.length)
        mixin pr-list(records)
        .pull-right 
          a.btn.btn-primary(href="/wod/pr/list") all
      else
        p You haven't logged any workouts with PRs
      .clear
      br
      br