//- include the layout
include ../layout
//- include the nav mixin
include ../includes/nav
block body
  mixin nav('stats')
  .container.page-container
    .row-fluid
      h2 All Logged Workouts
      if(!workouts.length)
        p You have not logged any works yet.
      else
        mixin workout-list(workouts)
        br