//- include the layout
include ../layout
//- include the nav mixin
include ../includes/nav
block body
  mixin nav('stats')
  .main-container
    .main.wrapper.clearfix
      article
        header
          h1 Recent Workouts
        if(!workouts.length)
          section
            p You have not logged any works yet.
        else
          if(workouts.length)
            each workout in workouts
              a(href="/wod/" + workout.hash)
                section.clearfix.clickable
                  .right-icon-container
                    i.icon-chevron-right
                  h2 !{workout.label}
                  p !{workout.description}
                  if workout.date
                    span.muted.pull-left
                      i.icon.icon-calendar
                      |  !{moment(workout.date).fromNow()}
                    .clear