//- include the layout
include ../../layout
//- include the nav mixin
include ../../includes/nav
//- include the workout list item partial
include ../../workout/partials/pr-list
block body
  mixin nav('stats')
  .main-container
    .main.wrapper.clearfix
      article
        h1 All PRs
        mixin pr-list(records)