.rounds
  .select.btn
    i.icon-sort.pull-right
    .select-container
      select(name="rounds")
        for num in _.range(0, 59)
          option(value=num)
            if(num === 1)
              | 1 round
            else
              !{num} rounds
  .clear
  .select.btn
    i.icon-sort.pull-right
    .select-container
      select(name="reps")
