.rounds
  .select.btn.clickable
    .right-icon-container
      i.icon-sort
    .select-container
      select(name="rounds")
        for num in _.range(0, 59)
          option(value=num)
            if(num === 1)
              | 1 round
            else
              !{num} rounds
  .clear
  .select.btn.clickable
    .right-icon-container
      i.icon-sort
    .select-container
      select(name="reps")
